:root {
  --nyc-cmp-button-color: var(--nyc-sys-color-text, currentColor);
  --nyc-cmp-button-background: var(--nyc-sys-color-background, transparent);
  --nyc-cmp-button-shadow: var(--nyc-sys-shadow-base);
  --nyc-cmp-button-border: 2px solid var(--nyc-sys-color-border);
}

.button {
  --nyc-cmp-button-background: transparent;
  --nyc-cmp-button-border: none;
  --nyc-cmp-button-color: currentcolor;
  --nyc-cmp-button-shadow: none;
  appearance: none;
  background-color: var(--nyc-cmp-button-background);
  border: var(--nyc-cmp-button-border);
  color: var(--nyc-cmp-button-color);
  padding: var(--nyc-sys-dimension-space-xs);
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: inherit;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;

  & > span:first-child {
    flex-grow: 1;
  }
}

.button[data-variant] {
  --nyc-cmp-button-background: var(--nyc-sys-color-background);
  --nyc-cmp-button-border: 2px solid var(--nyc-sys-color-border);
  --nyc-cmp-button-shadow: var(--nyc-sys-shadow-base);
  & > i:last-child {
    flex-shrink: 0;
    margin-inline-start: var(--nyc-sys-dimension-space-s-l);
    margin-block: auto;
  }  
}

.button[data-variant="outline"] {
  border: var(--nyc-cmp-button-border);
  box-shadow: var(--nyc-cmp-button-shadow);
  &:hover {
    background: var(--nyc-ref-color-blue-50);
    color: var(--nyc-sys-color-primary);
    border-color: var(--nyc-sys-color-primary);
  }
}
