.select {
  position: relative;

  & select {
    padding-inline-end: 3rem;
  }

  & i {
    position: absolute;
    pointer-events: none;
    font-size: 2rem;
    inset-inline-end: .75rem;
    height: 100%;
  }
}
