/*
Global styles

Low-specificity, global styles that apply to the whole
project: https://cube.fyi/css.html
 */
html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  color: var(--nyc-sys-color-text);
  background: var(--color-light);
  font-size: var(--nyc-sys-font-size-base);
  font-family: var(--nyc-sys-font-family-base);
  line-height: 1.4;
  letter-spacing: var(--tracking);
  margin: 0;
}

/* Base typesetting */
h1,
h2,
h3 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--size-step-4);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

p {
  max-inline-size: var(--measure);
}

/* Base interactive elements */

a {
  color: currentcolor;

  &:hover {
    text-decoration: none;
  }
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

[class*="i-" ] {
  display: inline-block;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

main {
  background: var(--nyc-sys-color-background);
}

/* Inputs */
input,
select {
  font-size: inherit;
  line-height: 2.25;
  padding-inline: 1rem;
}
