:not(:defined) {
    visibility: hidden
}

* {
    -webkit-tap-highlight-color: transparent
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%
}

:where(.u-reset) :where(*,::before,::after) {
    box-sizing: border-box
}

:where(.u-reset) {
    font-family: var(--nyc-font-family);
    font-feature-settings: var(--nyc-font-features);
    font-weight: var(--nyc-font-weight);
    line-height: var(--nyc-line-height);
    color: var(--nyc-color-text);
    accent-color: var(--nyc-color-accent)
}

:where(.u-reset a) {
    color: var(--nyc-color-text-link);
    text-decoration: underline
}

:where(.u-reset),:where(.u-reset) :where(body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,svg,small,strike,strong,sub,sup,b,u,i,ol,ul,li,form,label,table,caption,tbody,tfoot,thead,tr,th,td,main,article,aside,canvas,footer,header,nav,section,time,button,video,textarea,input) {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0
}

:where(.u-reset) :where(ul[role=list],ol[role=list]) {
    list-style: none
}

:where(.u-reset) :where(img,picture) {
    max-inline-size: 100%;
    display: block
}

:where(.u-reset) :where(input,button,textarea,select) {
    font-family: inherit;
    font-feature-settings: inherit;
    -webkit-appearance: none;
    appearance: none
}
