.container {
  --_gutter: var(--nyc-cmp-container-gutter, 1rem);
  --_max-w: var(--nyc-sys-dimension-page-max-width, 64rem);
  margin-inline: auto;
  max-inline-size: calc(var(--_max-w) + var(--_gutter) * 2);
  padding-inline: var(--_gutter);
  container: container / inline-size;
}

.region {
  --_region-space: var(--nyc-sys-dimension-space-l-xl);
  padding-block-start: var(--_region-space);
  padding-block-end: var(--_region-space);
}

.region[data-region-space="s"] {
  --_region-space: var(--nyc-sys-dimension-space-s);
}

.region[data-region-space="m"] {
  --_region-space: var(--nyc-sys-dimension-space-m);
}

.region[data-region-space="l"] {
  --_region-space: var(--nyc-sys-dimension-space-l);
}

.region[data-region-space="xl"] {
  --_region-space: var(--nyc-sys-dimension-space-xl);
}

.region[data-region-space="s-m"] {
  --_region-space: var(--nyc-sys-dimension-space-s-m);
}

.region[data-region-space="xs-s"] {
  --_region-space: var(--nyc-sys-dimension-space-xs-s);
}

.flow > * {
  margin-block: 0;
}

.flow > * + *,
.flow[data-flow-recursive] * + * {
  --_flow-space: var(--nyc-sys-dimension-space-m, 1em);
  margin-block-start: var(--_flow-space);
}

[data-flow-space=s] {
  --_flow-space: var(--nyc-sys-dimension-space-s);
}

[data-flow-space=m] {
  --_flow-space: var(--nyc-sys-dimension-space-m);
}

[data-flow-space=l] {
  --_flow-space: var(--nyc-sys-dimension-space-l);
}

.grid {
  --_gutter: var(--nyc-cmp-grid-gutter, 1rem);
  --_placement: var(--nyc-cmp-grid-placement, auto-fill);
  --_min-item-size: var(--nyc-cmp-grid-min-item-size, 16rem);
  --_max-item-size: var(--nyc-cmp-grid-max-item-size, 1fr);
  --_cols: var(--nyc-cmp-grid-cols, 1);
  --_item-shrink-ratio: var(--nyc-cmp-grid-item-shrink-ratio, .7);
  --_max-w: calc(var(--nyc-sys-dimension-page-max-width) + ((var(--_cols) - 1) * var(--_gutter)));

  /* Setting container property breaks grid on Safari */
  /* container: grid-container / inline-size; */
  display: grid;
  gap: var(--_gutter);
  grid-auto-rows: 1fr
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(
      var(--_placement),
      minmax(var(--_min-item-size), var(--_max-item-size))
    );
  }
}

.grid[data-layout^="col-"] {
  --nyc-cmp-grid-min-item-size: calc((var(--_max-w) / var(--_cols)) * var(--_item-shrink-ratio));
  --nyc-cmp-grid-placement: auto-fit;
}

.grid[data-layout="col-4"] {
  --nyc-cmp-grid-gutter: var(--nyc-sys-dimension-space-s);
  --nyc-cmp-grid-cols: 4;
}

.grid[data-layout="col-3"] {
  --nyc-cmp-grid-cols: 3;
}

.grid[data-layout="col-2"] {
  --nyc-cmp-grid-cols: 2;
}

/* TODO: address max hard-coded value */
@container container (max-width: 806px) {
  .grid[data-layout="col-4"] {
    --nyc-cmp-grid-cols: 2;
    --nyc-cmp-grid-item-shrink-ratio: .5;
  }
}

.grid[data-layout=figure-split] {
  grid-template-columns: 1fr;
  --_gutter: 0;
}

@media (min-width: 768px) {
  .grid[data-layout=figure-split] {
    --_gutter: var(--nyc-sys-dimension-space-s-m);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "heading figure"
    "body figure";
    row-gap: 0;

    & :--heading {
      grid-area: heading;
    }

    & .figure {
      grid-area: figure;
    }

    & > * {
      grid-area: body;
    }

    &[data-split-direction=left] {
      grid-template-areas:
      "figure heading"
      "figure body";
    }
  }
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar > :first-child {
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--nyc-sys-dimension-space-s-m);
  container: switcher / inline-size;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(( 40rem - 100%) * 999);
}

.switcher > :nth-last-child(n+ 4),
.switcher > :nth-last-child(n+ 4) ~ * {
  flex-basis: 100%;
}

.switcher[data-layout="col-1-3-2"] {
  & > :nth-child(2) {
    order: 3;
  }

  & > :nth-child(3) {
    flex-grow: 2;
  }
}

@container switcher (max-width: 40rem) {
  .switchert[data-layout="col-1-3-2"] {
    & > :nth-child(2) {
      order: initial;
    }
  }
}
