@import "../packages/core/variables.css";
@import "../packages/core/global.css";
@import "../packages/core/composition.css";
@import "../packages/core/utilities.css";
@import "../packages/css-reset/reset.css";
@import "../packages/components/card/card.css";
@import "../packages/elements/button/button.css";
@import "../packages/elements/select/select.css";

/* Blocks */

/* Button */
.grid li > .button {
  display: flex;
  height: 100%;
}

/* TODO: address 900px hard-coded value */
@container grid-parent (max-width: 900px) {
.grid[data-grid-cols="4"] {
    /* Bump min-size to ~300px to force 2 col layout */
  /* --grid-min-item-size: 18.75rem; */
  --grid-min-item-size: 18rem;
  }
}

.alert {
  --alert-color: var(--nyc-sys-color-secondary);
  padding-inline-start: var(--space-s-m);
  position: relative;
  &::before {
    content: '';
    width: 5px;
    height: 100%;
    background: var(--alert-color);
    position: absolute;
    left: 0;
    display: flex;
    border-radius: 5px;
  }
}

.news-item {
  --space: .8em;

  & :--heading {
    font-size: var(--nyc-sys-font-size-base);
    order: 1;
  }

  & time {
    order: 0;
    --space: 0;
    margin-block-end: .8em;
    font-weight: 400;
  }

  .news-body {
    order: 2;
  }
}

@container grid-parent (max-width: 657px) {
  .alert {
    padding-inline-start: 0;
    padding-block-start: var(--space-s-m);
    &::before {
      top: 0;
      width: 100%;
      height: 5px;
    }
  }
}
